html { 
    height: 100%;
}

body{
    margin: 0px !important;
    font-family:arial;
    font-weight:bold;
    height:100%;
    min-height: 100%;
    position:relative;
}

header{  
    height:50px;
    width:100%;
    font-size: 30px;
    font-family: fantasy;
    top:0px;
    left:0px;
    background: #038BF4;
    color:white;
    position:fixed;
    padding: 0 1%;
    z-index: 99999;
}

footer{
    height:50px;
    width:100%;
    bottom:0px;
    left:0px;
    background: #038BF4;
    color:white;
    position:fixed;
    padding: 0 1%;
    text-align: center;
}

#content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height:100%;
    padding: 0 20px;
}

#content > div {
  padding: 70px 0;
}

.hidden {
    display: none;
}

.footer-icons{
    margin: 1% 0px;
}

.add{
    float: right;
    padding: 10px;
}

.mycard{
    border: 1px solid grey;
    margin: 1%;
}

.card-body{
    padding: 0rem;
}

.bg-remote{
    background-color: #cacaca;
}

.back-btn{
    background: #038BF4;
    padding: 1%;
    border-radius: 20%;
}

.rem-btn{
    background: white;
    color: black;
    width: 50px;
    height: 50px;
    padding: 4%;
    margin: 0 auto;
    border-radius: 50%;
}

.cam {
    width: 140px;
    height: 140px;
    background-color: #038BF4;
    color: white;
    padding: 46px;
}

.remicon{
    padding-top:1%
}

.red {
    color: red;
}

.white {
    color: white;
}

.plp-4{
    padding-left: 4%;
}

.pt-16{
    padding-top: 16%;
}

.ml-50pc{
    margin-left: 50%;
}

.card-img-top{
    width: 100px;
    height: 100px;
    border: 1px solid grey;
}

.card-img-top-1{
    width: 200px;
    height: 200px;
    border: 1px solid grey;
    margin: 1%;
}

.outer-circle {
    background: #ffffff;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    position: relative;
}

.inner-circle {
    position: absolute;
    background: #cacaca;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    top: 75%;
    left: 75%;
    margin: -50px 0px 0px -50px;
    padding-top: 14px;
    font-weight: 100;
}

.ctrlkeys{
    width: 50px;
    height: 45px;
    margin: 0 auto;
    background: white;
}

.ctrlTop{
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
}

.ctrlBottom{
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
}